{include file="common/top" /}

<div id="banner">
  <div class="bxSlide-outter" style="overflow:hidden;margin-left:auto;margin-right:auto; width:1920px; max-width:100%; max-height:900px"><script type="text/javascript" src="__CDN__/template/default2/js/jquery.bxslider.js?v={$site.version}"></script>
<link href="__CDN__/template/default2/css/jquery.bxslider.css?v={$site.version}" rel="stylesheet" type="text/css">
<div class="bxslider_1">
    <!-- <div><a href="javascript:;"><img src="__CDN__/template/default2/img/e45d492777.png" alt="" width="100%"></a></div>
    <div><a href="javascript:;"><img src="__CDN__/template/default2/img/049acb13e3.png" alt="" width="100%"></a></div>
    <div><a href="https://upas889.myueeshop.com/products/wooden-tv-standtv-cabinettv-shelftvs019-62" target="_blank"><img src="__CDN__/template/default2/img/439a1bbd51.png" alt="" width="100%">
    </a></div> -->
    {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }   
    <div><a href="{$block.url}" target="_blank"><img src="{$block.image}" alt="" width="100%"></a></div>
    {/cms:blocklist}

</div><script type="text/javascript">$(document).ready(function(){$('.bxslider_1').bxSlider({slideWidth:1920, adaptiveHeight:true, mode:'fade', pause:4000,autoHover:true});});</script></div></div>

<div id="products">
  <div class="products_box">
      <div class="p_header">
        <span class="p_title">Products</span>
        <div class="products_nav">
            {cms:channellist id="channel" type="son" typeid="44" orderby="weigh" orderway="asc"}
                <a href="javascript:;" class="pn_item trans" cate="{$channel.id}">{$channel.name}</a>
            {/cms:channellist}
        </div>
      </div>
      <div class="p_main">
        {cms:channellist id="channel" type="son" typeid="44" orderby="weigh" orderway="asc"}
        <div class="pro_list hid " id="cate{$channel.id}">
            {cms:arclist id="prod" channel="channel['id']"  orderby="weigh" orderway="desc" row="20"}
            <div class="p_item">
                <div class="img_box">
                    <a href="{$prod.url}"><img class="loading_img" data-src="{$prod.image}" alt="{$prod.title}"></a>
                </div>
                <a class="item_title" href="{$prod.url}">{$prod.title}</a>
            </div>
            {/cms:arclist}
        </div>
        {/cms:channellist}
                          <!-- <div class="pro_list hid show" id="cate7">
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/iwownfit-cs186l-large-screen-bluetooth-call-smartwatch"><img class="loading_img" data-src="__CDN__/template/default2/img/de4a1983e9.png.500x500.png" alt="iwownfit CS186L Large Screen Bluetooth Call Smartwatch"></a>
                          </div>
                          <a class="item_title" href="/products/iwownfit-cs186l-large-screen-bluetooth-call-smartwatch">iwownfit CS186L Large Screen Bluetooth Call Smartwatch</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/cs165c-body-temperature-monitoring-watch"><img class="loading_img" data-src="__CDN__/template/default2/img/738511f8aa.png.500x500.png" alt="IWOWNFIT CS165C Body temperature monitoring watch"></a>
                          </div>
                          <a class="item_title" href="/products/cs165c-body-temperature-monitoring-watch">IWOWNFIT CS165C Body temperature monitoring watch</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/iwown-cr132-bluetooth-call-smartwatch"><img class="loading_img" data-src="__CDN__/template/default2/img/83f377832d.png.500x500.png" alt="iwown CR132L Bluetooth call Smartwatch"></a>
                          </div>
                          <a class="item_title" href="/products/iwown-cr132-bluetooth-call-smartwatch">iwown CR132L Bluetooth call Smartwatch</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/home-use-children-bedroom-computer-desk-and-chair-82"><img class="loading_img" data-src="__CDN__/template/default2/img/b91c0cc8ef.png.500x500.png" alt="iwownfit CS201 Fitness&amp;Health Smartwatch"></a>
                          </div>
                          <a class="item_title" href="/products/home-use-children-bedroom-computer-desk-and-chair-82">iwownfit CS201 Fitness&amp;Health Smartwatch</a>
                                                  </div>
                                  </div>
                          <div class="pro_list hid " id="cate8">
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/iwownfit-143amoled-display-gps-sport-watch-with-20-day-battery-life"><img class="loading_img" data-src="__CDN__/template/default2/img/5c4ec7f62b.png.500x500.png" alt="iwownfit 1.43''AMOLED Display GPS Sport Watch with 20-Day Battery Life"></a>
                          </div>
                          <a class="item_title" href="/products/iwownfit-143amoled-display-gps-sport-watch-with-20-day-battery-life">iwownfit 1.43''AMOLED Display GPS Sport Watch with 20-Day Battery Life</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/p2c-outdoor-sports-watch-with-gps"><img class="loading_img" data-src="__CDN__/template/default2/img/762f533951.png.500x500.png" alt="IWOWNFIT P2C Outdoor Sports Watch with GPS"></a>
                          </div>
                          <a class="item_title" href="/products/p2c-outdoor-sports-watch-with-gps">IWOWNFIT P2C Outdoor Sports Watch with GPS</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/wooden-tv-standtv-cabinettv-shelftvs019-62"><img class="loading_img" data-src="__CDN__/template/default2/img/70bac73a5a.png.500x500.png" alt="CR130 Outdoor GPS Smartwatch"></a>
                          </div>
                          <a class="item_title" href="/products/wooden-tv-standtv-cabinettv-shelftvs019-62">CR130 Outdoor GPS Smartwatch</a>
                                                  </div>
                                  </div>
                          <div class="pro_list hid " id="cate31">
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/ck100-smart-watch-for-children"><img class="loading_img" data-src="__CDN__/template/default2/img/d689e7495a.png.500x500.png" alt="iwown CK169 4G Kids Watch with GPS Tracker and video calling"></a>
                          </div>
                          <a class="item_title" href="/products/ck100-smart-watch-for-children">iwown CK169 4G Kids Watch with GPS Tracker and video calling</a>
                                                  </div>
                                  </div>
                          <div class="pro_list hid " id="cate32">
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/iwown-ecg--blood-pressure-measuring-watch-h1c"><img class="loading_img" data-src="__CDN__/template/default2/img/99324bf4c9.png.500x500.png" alt="iwown ECG &amp; Blood Pressure Measuring watch-H1C"></a>
                          </div>
                          <a class="item_title" href="/products/iwown-ecg--blood-pressure-measuring-watch-h1c">iwown ECG &amp; Blood Pressure Measuring watch-H1C</a>
                                                  </div>
                                          <div class="p_item">
                          <div class="img_box">
                              <a href="/products/2014-wooden-modern-folding-mirror-dresser-table-set-germany-49"><img class="loading_img" data-src="__CDN__/template/default2/img/84d5223448.png.500x500.png" alt="H200 4G Health Smartwatch"></a>
                          </div>
                          <a class="item_title" href="/products/2014-wooden-modern-folding-mirror-dresser-table-set-germany-49">H200 4G Health Smartwatch</a>
                                                  </div>
                                  </div> -->
                      <div class="clear"></div>
      </div>
  </div>
</div>

<div id="au">
  <div class="au_banner">
      <img class="loading_img" data-src="__CDN__/template/default2/img/bda8d0c4c1.png" alt="About Us">
  </div>
  <div class="au_main">
      <div class="au_text">
          <span class="au_title">About Us</span>
          <span class="au_contents more_line2_hidden">Established in May 2009, iWOWNfit is a professional intelligent hardware enterprise that integrates innovation, R&amp;D, design, production and sales in the field of sports and health.
&nbsp;</span>
          <a class="more" href="/pages/about-us-1">Learn more</a>
      </div>

  </div>
  <div class="au_little_pic">
      <a href="">
          <img class="loading_img" data-src="__CDN__/template/default2/img/0588617d93.png" alt="About Us">
      </a>

  </div>
</div>

<div id="services">
  <span class="part_title">Products Highlight</span>
  <div class="services_main">
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/e7487e4cca.png" alt="24H/7 Heart Rate Monitoring">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">24H/7 Heart Rate Monitoring</a>
              </div>
          </div>
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/a3f0c82be5.png" alt="REM Sleep Tracking">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">REM Sleep Tracking</a>
              </div>
          </div>
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/ca3cb64e59.png" alt="Heart Health">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">Heart Health</a>
              </div>
          </div>
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/6290b70b41.png" alt="Blood Oxygen Saturation">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">Blood Oxygen Saturation</a>
              </div>
          </div>
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/cc53570568.png" alt="Stress Estimation">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">Stress Estimation</a>
              </div>
          </div>
                  <div class="services_item">
              <a href="">
                  <img class="services_item_img loading_img" data-src="__CDN__/template/default2/img/71932a20f9.png" alt="Multi-sport Modes">
              </a>
              <div class="item_text">
                  <a class="item_title" href="">Multi-sport Modes</a>
              </div>
          </div>
          </div>
</div>

<div id="video">
  <div class="img_box">
      <a class="img_a video_btn" href="javascript:;" video-url="https://youtu.be/lcnLCcVc9Mo" title="Free Watch Face Market">
          <i class="video_icon"></i>
          <img class="loading_img" data-src="__CDN__/template/default2/img/f58e171871.png" alt="Free Watch Face Market">

      </a>
  </div>

  <div class="video_main">
      <div class="video_text">
          <span class="video_title">Free Watch Face Market</span>
          <span class="video_contents">Completely Customizable, hundreds of  free and sophisticated watchface are avilable for you to select. The watch well  matched for either formal or casual ocasion.
Continue updating...</span>
          <a class="more" href="">Learn more</a>
      </div>
  </div>
</div>

<div id="news">
  <span class="news_title">Latest News</span>
  <div class="news_main">
      <div class="main_box">
                      <div class="main_item">
              <div class="item_img">
                  <a href="/info-detail/deal-may-facilitate-3">
                      <img class="loading_img trans" data-src="__CDN__/template/default2/img/c8d5d7042b.png" alt="2021 ShenZhen International Gift Show"><span></span>
                  </a>
              </div>
              <div class="item_text">
                  <a class="item_title" href="/info-detail/deal-may-facilitate-3">2021 ShenZhen International Gift Show</a>
                  <div class="line"></div>
                  <span class="item_date">Apr.28.15</span>
                  <span class="item_contents">Time: 21&nbsp;Oct-24&nbsp;Oct&nbsp;2021

iWOWNfit Booth Number: 14K21-K24</span>
              </div>
          </div>
                      <div class="main_item">
              <div class="item_img">
                  <a href="/info-detail/one-shoulder-chiffon-pleated-kesen-length-real-image-bridesmaid-dress-2">
                      <img class="loading_img trans" data-src="__CDN__/template/default2/img/c5b7089247.png" alt="2019 Mobile World Congress"><span></span>
                  </a>
              </div>
              <div class="item_text">
                  <a class="item_title" href="/info-detail/one-shoulder-chiffon-pleated-kesen-length-real-image-bridesmaid-dress-2">2019 Mobile World Congress</a>
                  <div class="line"></div>
                  <span class="item_date">Mar.10.20</span>
                  <span class="item_contents">Time: 25 FEB-28 FEB 2019

Booth Number: CS86</span>
              </div>
          </div>
                  </div>
  </div>
</div>

<div id="footer_banner">
  <span>
       <img class="loading_img" data-src="__CDN__/template/default2/img/1ca188bb09.png">
  </span>
  <div class="fb_text">
      <span class="fb_title"></span>
      <span class="fb_contents"></span>
      <a class="more" href="">Learn more</a>
  </div>
</div>
{include file="common/foot" /}