{include file="common/top" /}
{include file="common/mbx" /} 
<div class="productListBJ">
<div class="productShow box">
    <div class="productShowLeft">
       
        <div class="productShowImg">
            <div id="productShowImg">
                
                {empty name="$__ARCHIVES__.images"}
                   <img  class="img" src="{$__ARCHIVES__.image}">
                {else /}
                 <!--大图-->
                <div  class="swiper-container galleryshang" style="margin-bottom: 10px;">
                    <div class="swiper-wrapper">
                	        {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
            					<div class="swiper-slide"><a><img src="{$image|cdnurl}"></a></div>
            				{/volist}
                    </div>
                    <div class="swiper-pagination"></div> 
                    <div class="swiper-button-prev"><i class="ico icon-icon--"></i></div>
       	            <div class="swiper-button-next"><i class="ico icon-icon---copy"></i></div>
                </div>
                  <!--小图-->    
                  <div class="swiper-container galleryxia">
                    <div class="swiper-wrapper">
                            {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
            					<div class="swiper-slide"><a><img src="{$image|cdnurl}"></a></div>
            				{/volist}
                    </div>
                  </div>
                   <script>
                    var galleryxia = new Swiper('.galleryxia', {
                      spaceBetween: 10,
                      slidesPerView: 4,
                      freeMode: true,
                      watchSlidesVisibility: true,
                      watchSlidesProgress: true,
                    });
                    var galleryshang = new Swiper('.galleryshang', {
                      spaceBetween:0,
                      navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                      },
                      thumbs: {
                        swiper: galleryxia
                      },
                        on: {
                      slideChangeTransitionStart: function(){
                      	$('.galleryxia .swiper-slide').removeClass("swiper-slide-active")
                        $('.galleryxia .swiper-slide').eq(this.activeIndex).addClass("swiper-slide-active")
                      },
                    },
                    });
                </script>
                {/empty}
                
                
                
              
            </div>  
               
            
            
            
            <div class="productRin">
             <h1 class="title">{cms:archives name="title" /}</h1>
             <div class="ItemNo">Item NO: {cms:archives name="id" /}</div>
           
            <div class="productShowprice jiage">{cms:archives name="price" /}</div>
            
             
             <div class="productShowIntroduction">
                 {$__ARCHIVES__.Introduction}
             </div>
    
		 
            <a class="Consult btnCar" onclick="WindowShow('{$__ARCHIVES__.title}','{$__ARCHIVES__.image}',this)">Contact Us</a>
            	
         
             
            </div> 
        </div>
    
            
            <div class="productShowTxt">
                 <h1>Description</h1>
                  <div class="BJQ">
                      {cms:archives name="content" /}
                      <div class="Cpimglist">
                          {volist name="$__ARCHIVES__.cpimglist|explode=',',###" id="image"}
            				<img src="{$image|cdnurl}">
            			  {/volist}
                          
                      </div>
                  </div>
                 
            </div>
            
    </div>
    
    
    <!--相关产品-->
    <div class="productShowRight">
        <h2>Related Products</h2>
        <div class="productShowRightList">
         {cms:arclist id="item" row="4"  channel="__CHANNEL__.id"   orderby="rand" orderway="desc" cache="0" condition="`id` != $__ARCHIVES__->id" }  
         <a href="{$item.url}" title="{$item.title}">
             <div class="RelatedProductsNr">
                <div class="imghover"><img src="{$item.image}"></div>
                <h3>{$item.title}</h3>
              </div>    
         </a>
        {/cms:arclist}
        </div>
    </div>    
 

</div>
</div> 
 




{include file="common/ck" /}
{include file="common/foot" /}