{include file="common/top" /}
{include file="common/mbx" /} 
 
<div class="ServicesShow box">
    <div class="ServicesShowLeft">
    <div class="ServicesShowImg"><img src="{cms:archives name="image" /}"> </div>
    <div class="ServicesShowTxt">
          <h1>{cms:archives name="title" /}</h1>
          <div class="BJQ">
              {cms:archives name="content" /}
          </div>
           {notempty name="$__ARCHIVES__.images"}
          <ul class="ServicesShowImglist">
          {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
            	<li data-src="{$image|cdnurl}"><div class="img43"><img src="{$image|cdnurl}"></div></li>   
          {/volist}
          </ul>
         {/notempty} 
         
    </div>
    
    <!--参数开始-->
    <div class="ServicesParameter">
        {cms:paramelist name="$title" id="vo" orderby="weigh" cache="0" orderway="asc"}
        {switch name="$vo.text_type"}
        
         
        {case value="1"} 
            {empty name="$vo.file"}
             <h2>{$vo.title}</h2>
              <div class="BJQ ServicesContent">{$vo.content}</div>
            {else /}
              <div class="ServicesParameterList">
                <div class="ServicesParameterImg"><img src="{$vo.file}"></div>
                <div class="BJQ">
                     <h2>{$vo.title}</h2>
                    {notempty name="$vo.content"}{$vo.content}{/notempty}
                </div>
            </div> 
            {/empty}
        {/case}
        
        
        
        
        {case value="2"} 
             <ul class="ServicesParameterUl">
             {volist name="$vo.images|explode=',',###" id="img" key="k"}
                <li data-src="{$img|cdnurl}">
                <em class="img43"><img src="{$img|cdnurl}" alt="{$vo.intro[$key]['info']}"></em>    
                <h3>{$vo.intro[$key]['info']}</h3>
                <p>{$vo.intro[$key]['txt']}</p>
               </li>
             {/volist}
             </ul>
        {/case}
        
        {/switch} 
        {/cms:paramelist}
    </div>
    
    
    
    
    </div>
    
    
     <div class="ServicesShowForm">
        <h2>Contact form</h2>
        <h3>Your email address will not be published. Required fields are marked *</h3>
        
         <form id="form" onsubmit="return false">
            <input type="hidden" name="__diyname__" value="customer">
            {:token()}
            <div>
             {notempty name="$site.selectservice"}
              <select required="">
                  <option value="">Select Service</option>
                  {volist name="$site.selectservice" id="item"}
                    <option value="$item}">{$key}</option>
                  {/volist}        
             </select>
             {/notempty} 
                
            
            <input name="row[name]" type="text" placeholder="*Name" required=""></input>
            
            <input name="row[email]" type="Email" placeholder="*Email" required=""></input>
           
            <input name="row[telephone]" type="text" placeholder="*Phone" required=""></input>
             
            <textarea name="row[content]" type="text" placeholder="*Message" required=""></textarea>
            
          
             <!--<div class="Captcha">-->
             <!--            <img src="{:captcha_src()}"  onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>-->
             <!--            <input required="" placeholder="Captcha" type="text"    name="verify"></input>-->
             <!--       </div>        -->
            <button>SEND</button>
            </div>
       </form>
        
        
        
        
       
       <div class="otherService">
            <h2>Our Services</h2>
            <ul>
                
             {cms:arclist id="item" row="10"  channel="__CHANNEL__.id"  orderway="desc" cache="0" condition="`id` != $__ARCHIVES__->id"}  
            <li>
             <a {if condition="$item.id eq $__ARCHIVES__.id"}class="this"{/if} href="{$item.url}" title="{$item.title}">
                 <div class="imghover img43"><img src="{$item.image}"></div>
                 <h3>{$item.title}</h3>
             </a>
             
             </li>
             {/cms:arclist} 
             </ul>
        </div> 
    </div>
    

</div>


 
            
 

 


{include file="common/foot" /}


 
	