<div id="footer">
  <div class="footer_box">
    <div class="list_item">
                <div class="ft_item">
          <ul>
            <li class="item_title">
              <span>Product</span>
              <i class="ft_icon"></i>
            </li>
            {cms:channellist id="son" type="son" condition="1=isnav" typeid="44" cache="0" row="20"}
            <li class="item_content"><a href="{$son.url}" title="{$son.name}">{$son.name}</a></li>
            {/cms:channellist}
                        </ul>
        </div>
                <div class="ft_item">
          <ul>
            <li class="item_title">
              <span>About Us</span>
              <i class="ft_icon"></i>
            </li>
            <li class="item_content"><a href="/Contact-us" title="Contact Us">Contact Us</a></li>
                        </ul>
        </div>
                <div class="ft_item">
          <ul>
            <li class="item_title">
              <span>News</span>
              <i class="ft_icon"></i>
            </li>
            {cms:arclist id="new" channel="66" flag="index"  orderby="weigh" orderway="desc" row="20" addon="content"}}
              <li class="item_content"><a href="{new.url}" title="{$new.title}">{$new.title}</a></li>
            {/cms:arclist}
                        </ul>
        </div>
              <div class="ft_item">
        <ul>
          <li class="item_title">
            <span>Follow us</span>
            <i class="ft_icon"></i>
          </li>
          <li class="item_content">
            <a href="/"></a><div class="share foot_share foot_share_type_1"><a href="/"></a>
            {cms:blocklist id="block" name="FollowUs" orderby="weigh" orderway="asc" }
              <a href="{$block.url}" target="_blank" class="foot_share_box {$block.title}"></a>
            {/cms:blocklist}
            </div></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
          <div class="footer_bottom_text">
      <!-- <div class="left_text">Copyright ©2009-2021 Shenzhen IWOWN Technology Co. ,Ltd. All Rights Reserved. <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" rel="nofollow">粤ICP备14068344号-4</a></div> -->
      <div class="left_text">{$site.beian}</div>
      <div class="right_text">
        {cms:channellist id="nav1" type="top" cache="0" condition="1=isnav" row="20" orderby="weigh" orderway="desc"}
          <span><a href="{$nav1.url}" title="{$nav1.name}">{$nav1.name}</a></span>
        {/cms:channellist}
                </div>
    </div>
  </div>
</div>
<div align="center"><script type="text/javascript" src="__CDN__/template/default2/js/analytics.js?v={$site.version}" async=""></script><!--!‬‏‪‭‫‬‫‭‪‫‬‪‫‬‫‬‏‭‭‫‪‬‏‪--></div>	<div id="chat_window">
<div class="chat_box is_respon ">
  <div class="box trans_05">
     <div class="box_area">
          </div>
    <span class="chat_close"></span>
  </div>
  <div class="chat_box_menu">
          <a href="javascript:;" id="go_top" class="top trans_05"></a>
  </div>
</div>
</div>
</body></html>